{% render 'layouts/base.liquid' %}
{% block content %}
    <a href="/instrumenten">Terug naar het overzicht</a>
    
    <article class="instrument-article">
        <section class="photo-section">
            <span class="div-1">photo 1</span>
            <span class="div-2">photo 2</span>
            <span class="div-3">photo 3</span>
            <span class="div-4">photo 4</span>
            <span class="div-5">photo 5</span>
        </section>
    
        <section class="instrument-info">
            <header class="detail-header">
                <div>
                    <h2>{{ instruments.name | default: "Onbekend" }}</h2>
                    <p>{{ instruments.serial_number | default: "Onbekend" }}</p>
                </div>
                <div class="status-label">
                    {% render 'partials/status_label.liquid' %}
                </div>
                
            </header>

            <details>
                <summary>Beschrijving</summary>
                <p>{{ instruments.details | default: "Onbekend" }}</p>
            </details>

            <details class="met-data">
                <summary>Specificaties</summary>
                <dl>
                    <dt>Merk:</dt>
                    <dd>{{ instruments.brand | default: "Onbekend" }}</dd>

                    <dt>Type:</dt>
                    <dd>{{ type | default: "Onbekend"}}</dd>

                    <dt>Locatie:</dt>
                    <dd>{{ instruments.storage_room | default: "Onbekend" }}</dd>

                    <dt>Eigendom:</dt>
                    <dd>{{ instruments.property | default: "Onbekend" }}</dd>
                </dl>
            </details>
            

            <details class="met-data">
                <summary>Uitgeleend</summary>
                <dl>
                    <dt>Uitgeleent aan:</dt>
                    <dd>Pietje Puck</dd>

                    <dt>Uitgeleent vanaf:</dt>
                    <dd>Maart 2025</dd>
                </dl>
            </details>
    
            <details>
                <summary>Beheer / actie geschiednis</summary>
                <ul>
					<li><time datetime="2026-03-30">30 maart 2026</time> — Schade gemeld</li>
					<li><time datetime="2026-03-28">28 maart 2026</time> — Ingenomen</li>
					<li><time datetime="2026-03-20">20 maart 2026</time> — Uitgeleend</li>
				</ul>
            </details>
        </section>
    </article>
    
    <section class="schadehistorie">
        <header>
            <h3>SCHADEHISTORIE</h3>
            <p>4 meldingen</p>
        </header>

        <ul>
            <li class="melding">
                <p><strong>Melding #1</strong></p>
                <p>Schade gemeld op <time datetime="23-04-25"></time>23-04-25</p>
            </li>
            <li class="melding">
                <p><strong>Melding #2</strong></p>
                <p>Schade gemeld op <time datetime="23-04-25"></time>23-04-25</p>
            </li>
            <li class="melding">
                <p><strong>Melding #3</strong></p>
                <p>Schade gemeld op <time datetime="23-04-25"></time>23-04-25</p>
            </li>
            <li class="melding">
                <p><strong>Melding #4</strong></p>
                <p>Schade gemeld op <time datetime="23-04-25"></time>23-04-25</p>
            </li>
        </ul>
    </section>
{% endblock %}