{% render 'partials/head.liquid', title: "Instrument details" %}
{% render 'partials/componenten/header.liquid' %}
{% render 'partials/acties/actie-popup.liquid', instrument: instrument, action: action %}

<main class="detail-main">
    <section class="detail-hero">
        <a href="/instrumenten" class="button button-primary button--back">Terug naar overzicht</a>
        <img src="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?width=250" alt="{{ instrument.name }}">
        <h2>{{ instrument.name }}</h2>
        <p>{{ instrument.serial_number }} * {{ instrument.status }}</p>
        <p>
            {% if instrument.status == "Uitgeleend" %}
                Uitgeleend tot: {{ instrument.rented_until }} door: {{ instrument.rented_from }}
            {% elsif instrument.status == "In reparatie" %}
                In reparatie tot: {{ instrument.rented_until }}
            {% endif %}
        </p>
        <p>Dit instrument hoort thuis in: {{ instrument.location }}</p>
    </section>

    <section class="info-if-found">
        <p> Dit instrument is eigendom van Preludefonds. Heb je vragen over dit instrument? Heb je dit instrument gevonden? Neem contact op met Preludefonds.</p>
        <a href="#contact">Ga naar contactgegevens</a>
    </section>

    <section class="action-section">
        <h3>Wat wil je doen?</h3>
        <hr>
        {% if instrument.status == "Uitgeleend" %}
            <button class="button-primary button--innemen">Innemen</button>
        {% elsif instrument.status == "Beschikbaar" %}
            <button class="button-primary button--uitlenen">Uitlenen</button>
        {% endif %}
        <button class="button-primary button--Scahde">Scahde melden</button>
    </section>

    <section>
        <h3>Over dit instrument</h3>
        <hr>
        <dl>
            <dt>Type</dt>
            <dd>{{ instrument.type | default: "Onbekend" }}</dd>
            <dt>Merk</dt>
            <dd>{{ instrument.brand | default: "Onbekend" }}</dd>
            <dt>Eigendom van</dt>
            <dd>{{ instrument.property | default: "Onbekend" }}</dd>
            <dt>Serienummer</dt>
            <dd>{{ instrument.serial_number | default: "Onbekend" }}</dd>
        </dl>
    </section>

    <section>
        <h3>Geschiedenis</h3>
        <hr>
        hier komen alle acties die aan dit instrument zijn gekoppeld
    </section>


</main>
