{% render 'partials/head.liquid', title: "Instrumenten overzicht" %}
{% render 'partials/componenten/header.liquid', path: path %}
<div class="overlay"></div>
<main class="instrument-overview-main">
    <h2>Overzicht van de instrumenten</h2>

    {% render 'partials/instrumenten/instrument_nav.liquid' %}
 
    <section class="instrument-table-section">
        {% render 'partials/instrumenten/instrument_categorie_nav.liquid', type: type %}
        {% render 'partials/instrumenten/instrument_formulier.liquid' %}

        <p>{{ totalItems }} instrumenten gevonden</p>

        <table class="instrument-table">
            {% render 'partials/instrumenten/instrument_tabel_hoofd.liquid', sort: sort %}
            <tbody>
                {% if instruments.size == 0 %}
                    {% render 'partials/instrumenten/instrument_leeg.liquid' %}
                {% else %}
                    {% for instrument in instruments %}
                        {% render 'partials/instrumenten/instrument_tabel_rij.liquid', instrument: instrument %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>



        
        <nav class="paginering">
            {% assign cp = currentPage | plus: 0 %}
            {% for i in pages %}
                {% assign ip = i | plus: 0 %}
                {% if ip == cp %}
                <button class="actief">{{ i }}</button>
                {% else %}
                <a href="?page={{ i }}&status={{ status }}&sort={{ sort }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        </nav>


    </section>

</main>


{% render 'partials/foot.liquid' %}