



<section class="schade-melden-popup popup">
    <div class="popup-header">
        <h2>Schade melden</h2>
        <button class="popup-sluiten">
            <img src="/icons/close.svg" alt="">
            Sluiten
        </button>
    </div>
        
    <form action="/schade" method="POST" class="schade-melden-form">
        <div class="form-melding" id="form-melding" style="display: none;">
            <p><strong>Controleer de gemarkeerde velden</strong></p>
            <p>Vul alle verplichte velden in om verder te gaan.</p>
        </div>

        <div class="instrument-info">
            <p>Instrument</p>
            <p>{{ instrument.naam }} — {{ instrument.serial_number }}</p>
        </div>

        <label>Aangetroffen door *
          <input type="text" name="" placeholder="Naam van de melder">
        </label>

        <label>Schade aangetroffen bij *
          <input type="text" name="" placeholder="bijv. naam leerling, docent of ruimte">
        </label>

        <input type="hidden" name="datum_melding" value="{{ 'now' | date: '%Y-%m-%d' }}">
        <input type="hidden" name="instrument_id" value="{{ instrument.id }}">
        <input type="hidden" name="instrument_naam" value="{{ instrument.naam }}">
        <input type="hidden" name="serienummer" value="{{ instrument.serial_number }}">

        <fieldset>
            <legend>Moet het instrument ter reparatie? *</legend>

            <label>
                <input type="radio" name="reparatie" value="ja">
                Ja
            </label>

            <label>
                <input type="radio" name="reparatie" value="nee">
                Nee
            </label>
        </fieldset>

        <label for="omschrijving">Omschrijving van de schade *
          <textarea name="omschrijving" placeholder="Beschrijf kort de schade en hoe deze is ontstaan..." required></textarea>
        </label>

        <fieldset>
            <legend>Foto van de schade</legend>

            <div class="upload-box">
              <label for="foto">
                <span>+ Foto uploaden</span>
                <span>JPG, PNG of WEBP</span>
              </label>

              <input type="file" name="photos" accept=".jpg,.png,.webp" multiple hidden>
            </div>
        </fieldset>

        <div class="knoppen-box">
            <button type="button" class="button-secondary annuleren">Annuleren</button>
            <button type="submit" class="button-primary">Melden</button>
        </div>

    </form>
</section>